<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include Spring Boot's defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Use Spring Boot's property source -->
    <springProperty scope="context" name="spring.application.name" source="spring.application.name" defaultValue="service"/>

    <springProfile name="default,local,test,integration">
        <!-- Console appender for non-production environments -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr([${spring.application.name}]){faint} %clr([%X{requestId:-}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
            </encoder>
        </appender>

        <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE"/>
            <queueSize>500</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <includeCallerData>false</includeCallerData>
            <neverBlock>true</neverBlock>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE"/>
        </root>

        <logger name="io.robothouse" level="DEBUG"/>
    </springProfile>

    <springProfile name="production">
        <!-- Console appender for production (no colour) -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] [${spring.application.name}] [%X{requestId:-}] %-40.40logger{39} : %m%n%wEx</pattern>
            </encoder>
        </appender>

        <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE"/>
            <queueSize>500</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <includeCallerData>false</includeCallerData>
            <neverBlock>true</neverBlock>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE"/>
        </root>

        <logger name="io.robothouse" level="INFO"/>
    </springProfile>
</configuration>
